.page-node #page #content {
    padding: 0;
}


#water_container {
    border: 1px solid red;
    font-size: 14px;
}

.tabs {
    background-color:  #e6eef1;
    border: 1px black;
    text: 16px;
}

.tab {
    padding: 5px;
}

.tab.active {
    background-color: #77cce9;
}

.tab-section {
    padding: 0 120px;
}
.tab-section h1 {
    font-size: 31px;

}
.tab-section h2 {
    font-size: 22px;

}
.tab-section h2 .water_amount {
    color: #e65135;
    font-size: 61px;
}

.no-counters .expenses, .no-counters  .boiler {
    float: left;
}

.boiler .input-group-addon {
    height: 34px;
}

.boiler {
    margin-left: 10px;
}

.no-counters_results {
    font-size: 10px;
}

.no-counters_family-members {
    color: blue;
}

.question {
    padding: 20px;
}

.info-note {
    background-color: #FFF;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.info-image-wrapper {
    width: 100%;
    height: 100%;

    min-width: 100px;
    min-height: 100px;
    margin-top: 20px;

}

.info-image {
    /*background-image: url(css/img/warning_big.png);*/

    width: 100px;
    height: 100px;


    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.costs {
    background-color: #f6faf2;
}

.numbers {
    color: green;
}

.costs h2 {
    color: green;
    font-size: 32px;
}
.costs h4 {
    font-weight: bold;
}

.costs-details-1 {
    padding-right: 20px;
}
.costs-details-2 {
    padding-leftww          : 20px;
}

.advice {
    /*display: none;*/
}
.economy_calculations {
    background-color: #f2fafc;
}